<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsApplication8.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <WindowsFormsApplication8.Settings1>
            <setting name="name" serializeAs="String">
                <value />
            </setting>
            <setting name="first_access" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="exit_true" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="main_color" serializeAs="String">
                <value>Maroon</value>
            </setting>
            <setting name="back_color" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="test" serializeAs="String">
                <value>0</value>
            </setting>
        </WindowsFormsApplication8.Settings1>
    </userSettings>
</configuration>